*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    line-height: 1;
}
h1{
    text-transform: uppercase;
}
nav{
    background-color: rgb(258, 94, 94);
    font-family: 'Times New Roman', Times, serif;
}
ul {
    display: none;
}
a > img, li>img{
    height: 1.5rem;
    
}
a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
.mobile-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
img{   
    height: 10rem;
}
section{
    background: linear-gradient(to right, rgb(245, 245, 154), rgb(242, 203, 209) ,rgb(252, 192, 202));  
}

.home-section{
    height: 100vh;
    display: grid;
   
}
.home-content{
    margin:auto auto;
    width: min(90%, 70.5rem);
    order: 1;  
}
.home-content > *{
    margin-bottom: 1rem;
}
.home-img >img{
    height: 100%;
    max-height: 100vh;
    width: 100%;
    max-width: 100vw;
    object-fit: cover;
    
}
button{
    background-color:  rgb(258, 94, 94);
    border: 0;
    color: #ffff;
    padding: 0.5rem;
}
.order-section{
    display: grid;
    align-items: center;
}
.img-container {
    width: 80%;
    margin:2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
}
  
.col-img {
    display: grid;
    grid-template-rows: 8rem 8rem;
    gap: 10px;
}
  
.img1, .img2, .img3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.img-container .img3 {
    grid-column: 2;
    grid-row: 1 / 2;
}

.order-content{
    background-color: rgb(248, 94, 94) ;
    width: 80%;
    margin: auto auto;
    padding:2vw;
}
.order-content > *{
    line-height: 3;
}
.order-content > h1{
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0.4rem;
}

.order-content > p{ 
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.order-content > div {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.order-content > div > img{
    max-height: 1.3rem;
    margin-left:1rem ;
    object-fit: contain;
}


@media (min-width:720px) {
    .home-section{
        flex-direction: row; 
        grid-template-columns: 50vw 50vw;
    }
    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0px 2rem;
        order: 1;   
    }
    .home-content > *{
        margin-bottom: 2rem;
    }
    .home-content >h1{
        font-size: 2.4rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;    
    }
    .home-content > p{
        font-size: 1rem;
    }
    button{
        background-color:  rgb(258, 94, 94);
        border: 0;
        color: #ffff;
        width: 100%;
        padding: 0.5rem 4rem;
    }
    .home-img{
        order: 2;
    }
    .home-img >img{
        height: 100%;
        max-height: 100vh;
        width: 50vw;
        max-width: 100vw;
        flex-basis: 100%;
    }
    .mobile-menu{
        display: none;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    
    .order-section{
        grid-template-columns: 50vw 50vw;
        
    }
    
    .order-content > *{
        line-height: 4rem;
       
    }
    .img-container{
        grid-template-columns: repeat(2, 20vw);
        margin:8rem auto;
    }
    .col-img{
        grid-template-rows: 40vh 40vh;
    }
    .order-content > h1{
        font-size: 4vh;
    }
    .order-content > p,.order-content>div>p{
        font-size: 1rem;
    }
    .order-content>div>img{
        max-height: 3vh;
    }
}
@media (min-width:990px){
    .home-content> *{
        margin-bottom: 2rem;
    }
    .home-content >h1{
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        
    }
    .home-content > p{
        font-size: 1.3rem;
    }
    button{
        background-color:  rgb(258, 94, 94);
        border: 0;
        color: #ffff;
        width: 100%;
        padding: 0.8rem 6rem;
    }
    .home-content > p{
        font-size: 1.5rem;
    }
    .home-content > *{
        margin-bottom: 4rem;
    }
    button{
        font-size: 1.5rem;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
        font-size: 2rem;
    }
    
}
@media (min-width:1025px){
    .home-content>h1{
        font-size: 5rem;
    }
    .home-content > p{
        font-size: 2rem;
    }
    .order-content > h1 {
        font-size: 5vh;
    }
    .order-content>p,.order-content>div>p{
        font-size: 3vh;
    }
}